<table class="mainTable">
  <thead>
    <tr>
      <th>
        <span>Site Administration</span>
      </th>
      <th>
        <span ui-sref="login">LOADING</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td ui-sref="section({ name: 'users' })"><h2>Users</h2></td>
      <td><h3 ui-sref="add({ name: 'users' })">ADD</h3></td>
    </tr>
    <tr>
      <td ui-sref="section({ name: 'portfolios' })"><h2>Portfolios</h2></td>
      <td><h3 ui-sref="add({ name: 'portfolios' })">ADD</h3></td>
    </tr>
    <tr>
      <td ui-sref="section({ name: 'countries' })"><h2>Countries</h2></td>
      <td><h3 ui-sref="add({ name: 'countries' })">ADD</h3></td>
    </tr>
    <tr>
      <td ui-sref="section({ name: 'scenarios' })"><h2>Scenarios</h2></td>
      <td><h3 ui-sref="add({ name: 'scenarios' })">ADD</h3></td>
    </tr>
  </tbody>
</table>
