.contact {
  background-image: url('../img/extras/fotografia6.jpg');
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  height: 30em;
  margin: 3px 0;

  form {
    display: inline-flex;
    height: 100%;
    text-align: center;
    width: 100%;

    span {
      color: #fff;
      font-size: 30px;
      text-decoration: underline;
    }

    .cont {
      width: 50%;

      .data {
        input {
          color: #a7a0a2;
          &:hover, &:focus {
            color: #000;
          }
        }
      }

      .title {
        margin: 2% 0;
        * {
            color: rgba(0, 0, 0, 0.5);
          }
      }
    }
  }
}
