body {
  table{
    background-color: #336600;
    width: 100%;
    height: 80%;
    padding: 0 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px;
  }
  header {
    background-color: #336600;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px;
    text-align: center;
    h1 {
      font-family: Impact;
      text-shadow: 2px 2px #336620;
    }
  }

  .mainTable {
      td, th {
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 2px 2px;
        background-color: #01D19D;
        text-align: center;
        width: 33.3333%;
      }
      th {
          background-color: #999966;
          font-size: 20px;
          p {
            font-size: 26px;
            font-family: Impact;
            text-shadow: 2px 2px #999990;
          }
      }
      td {
        span {
          font-size: 20px;
          font-family:sans-serif;
        }
        a {
          text-decoration: none;
        }
      }
  }
}
