.section {
  th {
    font-size: 24px;
    width: 20%;
    h1 {
      font-size: 24px;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 0 0 2px 2px;
      background-color: #999966;
      font-size: 18px;
    }
  }
  td {
    text-align: center;
    font-size: 20px;
    font-family: Impact;
  }
  .Go-back {
    text-align: center;
    background-color: #6699FF;
    box-shadow: 3px 3px;
    border-radius: 5px;
    max-height: 3em;
    a {
      text-decoration: none;
      font-family: serif;
      font-size: 22px;
    }
  }
}
