<table class="lista2">
  <thead>
    <th>
      <h2>Listas</h2>
      <td class="Go-back">
        <a ui-sref="main">Go back</a>
      </td>
      <td class="Go-list1">
        <a ui-sref="lista1">Go lista1</a>
      </td>
    </th>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo1">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo2">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo3">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo4">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo5">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
      <td>
        <input type="text" name="name" value="" ng-model="l2.algo6">
      </td>
      <td>
        <input type="button" name="name" value="save" ng-click="l2.save()">
      </td>
    </tr>
      <tr>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo7">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo8">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo9">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo10">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo11">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
        <td>
          <input type="text" name="name" value="" ng-model="l2.algo12">
        </td>
        <td>
          <input type="button" name="name" value="save" ng-click="l2.save()">
        </td>
      </tr>
        <tr>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo13">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo14">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo15">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo16">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo17">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
          <td>
            <input type="text" name="name" value="" ng-model="l2.algo18">
          </td>
          <td>
            <input type="button" name="name" value="save" ng-click="l2.save()">
          </td>
        </tr>
          <tr>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo19">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo20">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo21">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo22">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo23">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
            <td>
              <input type="text" name="name" value="" ng-model="l2.algo24">
            </td>
            <td>
              <input type="button" name="name" value="save" ng-click="l2.save()">
            </td>
          </tr>
            <tr>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo25">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo26">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo27">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo28">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo29">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
              <td>
                <input type="text" name="name" value="" ng-model="l2.algo30">
              </td>
              <td>
                <input type="button" name="name" value="save" ng-click="l2.save()">
              </td>
            </tr>
              <tr>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo31">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo32">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo33">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo34">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo35">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
                <td>
                  <input type="text" name="name" value="" ng-model="l2.algo36">
                </td>
                <td>
                  <input type="button" name="name" value="save" ng-click="l2.save()">
                </td>
              </tr>
                <tr>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo37">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo38">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo39">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo40">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo41">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                  <td>
                    <input type="text" name="name" value="" ng-model="l2.algo42">
                  </td>
                  <td>
                    <input type="button" name="name" value="save" ng-click="l2.save()">
                  </td>
                </tr>
                  <tr>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo43">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo44">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo45">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo46">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo47">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                    <td>
                      <input type="text" name="name" value="" ng-model="l2.algo48">
                    </td>
                    <td>
                      <input type="button" name="name" value="save" ng-click="l2.save()">
                    </td>
                  </tr>
                    <tr>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo49">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo50">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo51">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo52">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo53">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                      <td>
                        <input type="text" name="name" value="" ng-model="l2.algo54">
                      </td>
                      <td>
                        <input type="button" name="name" value="save" ng-click="l2.save()">
                      </td>
                    </tr>
                      <tr>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo55">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo56">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo57">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo58">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo59">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                        <td>
                          <input type="text" name="name" value="" ng-model="l2.algo60">
                        </td>
                        <td>
                          <input type="button" name="name" value="save" ng-click="l2.save()">
                        </td>
                      </tr>
                        <tr>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo61">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo62">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo63">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo64">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo65">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                          <td>
                            <input type="text" name="name" value="" ng-model="l2.algo66">
                          </td>
                          <td>
                            <input type="button" name="name" value="save" ng-click="l2.save()">
                          </td>
                        </tr>
                          <tr>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo67">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo68">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo69">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo70">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo71">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                            <td>
                              <input type="text" name="name" value="" ng-model="l2.algo72">
                            </td>
                            <td>
                              <input type="button" name="name" value="save" ng-click="l2.save()">
                            </td>
                          </tr>
                            <tr>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo73">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo74">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo75">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo76">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo77">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                              <td>
                                <input type="text" name="name" value="" ng-model="l2.algo78">
                              </td>
                              <td>
                                <input type="button" name="name" value="save" ng-click="l2.save()">
                              </td>
                            </tr>
                              <tr>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo79">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo80">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo81">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo82">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo83">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                                <td>
                                  <input type="text" name="name" value="" ng-model="l2.algo84">
                                </td>
                                <td>
                                  <input type="button" name="name" value="save" ng-click="l2.save()">
                                </td>
                              </tr>
                                <tr>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo85">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo86">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo87">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo88">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo89">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                  <td>
                                    <input type="text" name="name" value="" ng-model="l2.algo90">
                                  </td>
                                  <td>
                                    <input type="button" name="name" value="save" ng-click="l2.save()">
                                  </td>
                                </tr>

  </tbody>
</table>
