<table class="section">
  <thead>
    <tr>
      <th colspan="5">
      <h1>WE ARE IN {{ section.name.toUpperCase() }}</h1>
      </th>
    </tr>
  </thead>

  <tbody>
    <th ng-repeat="headers in section.header">
      {{ headers.toUpperCase() }}
    </th>

    <tr ng-repeat="item in section.data">
      <td ng-repeat="(key, value) in item"
          ng-if="key !== 'id'">
        {{ value }}
      </td>
      <td>
        <h3 ui-sref="edit({name: section.name, id: item.id })">Edit</h3>
      </td>
      <td>
        <h3 ng-click="section.delete(item)">Delete</h3>
      </td>
    </tr>
    <tr>
      <td class="Go-back" colspan='5'>
        <a ui-sref="main">Go back</a>
      </td>
    </tr>
  </tbody>
</table>
