<table class="edit_Page">
  <thead>
    <th colspan="3">
      <h2>EDIT PAGE</h2>
      <h3>{{ edit.element.toUpperCase() }}</h3>
    </th>
  </thead>
  <tbody>
    <tr class="current"
        ng-repeat="(key, item)  in edit.data">
      <td>
        <h3>{{ key.toUpperCase() }}</h3>
      <td class="new_data">
        <input type="text" ng-model="edit.data[key]" required>
      </td>
    </tr>
    <tr>
      <td class="Go-back">
        <a ui-sref="main">Go back</a>
      </td>
      <td class="Go-back">
        <a ng-click="edit.save()">SAVE</a>
      </td>
    </tr>
  </tbody>
</table>
